<html>


<template id="d3-template" value='!!!'>
  <div style ="margin: 20px">
    <svg id="container" width="200" height="200">
            <circle id="circle" cx="100" cy="100" r="25"  />
    </svg>
  </div>
</template>


<template id="d3-template" value='!!!'>
  <svg id="container" width="50" height="50">
    <circle id="circle" cx="25" cy="25" r="25" style fill="green" />
  </svg>
  </template>
  

<template id="gene-template" value='!!!'>
  
    <style>
  
    button {
        width: 15%;
        
        font-weight: 700;
        cursor: pointer;
        box-sizing: border-box;
        padding: 5px 2px;
        border-radius: 10px;
        border-top: 2px solid ;
        border-bottom: 0px solid ;
        border-left: 0px solid;
        border-right: 2px solid ;
        border-color:  rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        font-size: 18px;
    }
  
  
    </style>
  
    <div id="container" style = "width: 120px; height: 30p0x; display: inline-block; padding: 2px 2px">
        <button id="name" style = "width: 90px; height: 30p0x; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-right: 0px">NAN</button><button id="x" style = "width: 30px; height: 30p0x;border-top-left-radius: 0px; border-bottom-left-radius: 0px; background-color: #3d3d3d;">X</button>
    </div>
</template>






</html>