

@font-face { font-family: Future; src: url('Roboto-Light.ttf'); } 
@font-face { font-family: Square; src: url('square_sans_serif_7.ttf'); } 
@font-face { font-family: Venus; src: url('venus.ttf'); } 
@font-face { font-family: Modular; src: url('Modular Amplitude.otf'); } 

 

h1 {
  font-family: 'Square', sans-serif;
  font-size: 80px;
  font-weight: 10;
}
h2 {
  font-family: 'Future', sans-serif;
  font-size: 50px;
  font-weight: 10;
}
h3 {
  font-family: 'Modular', sans-serif;
  font-size: 50px;
  font-weight: 10;
}
h4 {
  font-family: 'Venus', sans-serif;
  font-size: 50px;
  font-weight: 10;
}
  
input {
    /* ... */

    width: 100%;
    height: 30px;
    -moz-padding-start: calc(10px - 3px);
    padding-left: 10px;
     
    color: rgb(255, 255, 255);
    font-family: 'Future', sans-serif;
    font-size: 35px;
    font-weight: 700;
    cursor: pointer;
    background:rgba(66, 66, 66, 0);
    border: 10px solid transparent;
    padding: 2px;
    border-image: url("images/frame1.png") 10 stretch;
    }



:focus{

    user-select: none;
    outline: none !important;
}
/*disable dragging on images */
/* img{-webkit-user-drag: none;
        
} */

.disable-select {
     
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.swagLabelSmall {

  padding-top: 25px;
    color:white;
    font-size:30px;
    /* font: 'Roboto'; */
    font-family: 'Square', sans-serif;
    font-weight: normal;
}

.swagLabel {
    color:white;
    font-size:40px;
    /* font: 'Roboto'; */
    font-family: 'Square', sans-serif;
    font-weight: lighter;
}
/* added comment */
.swagBox{

  border: 10px solid transparent;
  padding: 10px;
  border-image: url("images/frame1.png") 10 stretch;

}
.ui-widget-header {
	
	background: #333333 url("images/network1.gif") 100% 100% repeat; 
	font-weight: lighter;
}

.ui-widget .ui-widget{
     font-size:30px;
     border: 10px solid transparent;
     padding: 2px;
     border-image: url("images/frame1.png") 10 stretch;

}

.ui-selectmenu-button.ui-button {
    
    width:90%;
    height: 25px;
    -moz-padding-start: calc(10px - 3px);
    padding: 5px;
    
    color: rgb(255, 255, 255);
    background:rgba(66, 66, 66, 0);
    font-family: 'Future', sans-serif;
    font-size: 25px;
    font-weight: normal;
    cursor: pointer;


    

}



.ui-widget.ui-widget-content {

    font-family: 'Future', sans-serif;
    font-size: 25px;
    outline: none;
    background-color: #444444;
    border: 0px solid transparent;
    padding: 2px;
    border-image: url("images/frame1.png") 10 stretch;
    
    }
    
.ui-button {
    font-weight: normal;
    outline: none;
    padding: 2px 5px;
    margin: 3px 3px;
    
}


.ui-slider.ui-slider-horizontal {
  margin: 0px 0px 5px 0px;
  height: 40px;
  border: 0px solid #666666;
  border-radius: 0px;
  background: transparent url(images/slider2.png);
}
.ui-slider-range.ui-corner-all.ui-widget-header.ui-slider-range-max{
    
   background: transparent url(images/slider1.png);
   /* border: 1px solid #666666; */
}



.ui-slider .ui-slider-handle {
	/* position: absolute; */

    top: -0em;
    left: -0.1em;
	z-index: 2;
	width: 40px;
	height: 40px;
	cursor: default;
	 
   touch-action: none;
   background: transparent url(images/slider_customHandle.png) no-repeat 0 0;
}


/* style for d3 board in tab random walk */

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}



.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,  
.ui-button:focus {
	
	background: #0f0f0f;
	font-weight: normal;
	color: #ffffff;
    outline: 1px
}

.ui-slider-handle:hover,
.ui-slider-handle:focus {
	border: 0px solid #1c58fb;
	background: transparent url(images/slider_customHandle_active.png) no-repeat 0 0;
	font-weight: normal;
    outline: none;
	/* color: #ffffff; */
}

/* for debugging i make the background of body and ui widget contents transparent */
body { 
 background-color:rgba(10, 20, 0, 0); 
} 

.ui-widget-content { 
	/* border: 1px solid #666666; */
	/* background: none; */
  /* color: white; */
  border: 10px solid transparent;
  padding: 2px;
  border-image: url("images/frame1.png") 10 stretch;
  background: transparent url("images/80black.png") 100% 100% repeat;  

} 
/* width */
::-webkit-scrollbar {
  width: 20px;
  height: 20px
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #0089cc; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00abff; 
}

.bar {
  /* fill: steelblue; */
}

.bar:hover {
  fill: #7500fa;
}

.axis {
  font: 10px sans-serif;
    fill: white;
  stroke: white;
}

.axis path,
.axis line {
  fill: white;
  stroke: white;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.g tick{
      fill: white;
  stroke: white;
}


