<!DOCTYPE html>
<html>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="{{ url_for('static', filename='js/mc_UI_Elements.js') }}"></script>
	<script src="{{ url_for('static', filename='js/connect_socketIO.js') }}"></script>
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">
	<!-- 
	<link rel="import" href={% include "components/myComponents.html" ignore missing %}>
	this only works in chrome....bad practice
	-->



	<template id="mcRB-template" value='!!!'>
		<style>
			button {
				width: 15%;
				
				font-weight: 700;
				cursor: pointer;
				box-sizing: border-box;
				padding: 5px 2px;
				border-radius: 20px;
				border-top: 2px solid ;
				border-bottom: 0px solid ;
				border-left: 0px solid;
				border-right: 2px solid ;
				border-color:  rgb(255, 255, 255);
				color: rgb(255, 255, 255);
				font-size: 20px;
			}
		</style>

		<div id="container" style = "width: 120px; height: 30p0x; display: inline-block; padding: 4px 2px">
			<button id="name" style = "width: 90px; height: 30p0x; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-right: 0px"></button><button id="x" style = "width: 30px; height: 30p0x;border-top-left-radius: 0px; border-bottom-left-radius: 0px; background-color: #3d3d3d;">X</button>
		</div>
	</template>



	<template id="mcDD-template" value='!!!'>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">

		<select id="dropdown"  >
		</select>
	</template>

	<template id="mcSlider-template" value='!!!'>
		<div id = "label" style = "font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 700;">TEXT</div>
		<input type="range" min="1" max="100" value="50" class="slider" id="slider" style = "width: 100%; height: 30p0x; display: inline-block; padding: 4px 2px; color: #00ff40">	</div>
	</template>


	<template id="mcScrollBox-template" value='!!!'>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">

		<div id = "label" style = "font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 700;">TEXT</div>
		<div id = 'box' name = 'box' style = 'width: 300px; height: 120px; overflow:auto; border-radius: 12px;  background-color: #adadad; display: inline-block; border-color: rgb(10, 24, 221); border-right: 2px solid ; border-top: 2px solid; border-left: 2px solid ; border-bottom: 2px solid'>
		
		</div>
	</template>


	<template id="mcTextBox-template" value='!!!'>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">

		<div id = "label" style = "font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 700;">TEXT</div>
		<input type="Text" id = "text">
	</template>


	
	<template id="mcColorBox-template" value='!!!'>

		<style>
		input{
			border-radius: 50%;
			height: 50px;
			width: 50px;
			border: none;
			outline: none;
			-webkit-appearance: none;
		}
		input::-webkit-color-swatch {
			border: none;
			border-radius: 50%;
		}
		input::-webkit-color-swatch-wrapper {
			padding: 0; 
		}
		</style>

		<input type="Color" id = "color">
	</template>



	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>

	<body>




	<div style = "width: 300px; height: 400px; " id = "reee">

		<h2 >logged in as {{session['username']}}</h2>
		<h2 >CUSTOM-ELEMENTS</h2>
		custom removable buttons made with HTML TEMPLATE
		<br><br>


		<div id = 'geneBox' style = 'width: 300px; height: 120px; overflow:auto; border-radius: 12px;  background-color: #adadad; display: inline-block; border-color: rgb(10, 24, 221); border-right: 2px solid ; border-top: 2px solid; border-left: 2px solid ; border-bottom: 2px solid'>
			<mc-rbutton id = '666' name = 'satan' color = '#000000'></mc-rbutton>
			<mc-rbutton id = '123' name = 'ATP1' color = 'lightgreen'></mc-rbutton>
			<mc-rbutton id = '523' name = 'ASC' color = '#00bbbb'></mc-rbutton>

			<script>
				for (let i = 0; i < 50; i++) {
					$("#geneBox").append("<mc-rbutton id = '"+ i + "' name = '"+ makeid(Math.floor(Math.random() * 3) + 4) + "' color = '#" + Math.floor(Math.random()*16777215).toString(16) + "'></mc-rbutton>");
				}
			</script>
		</div>
		


		<br><br>
		<mc-scrollbox id = "someoofdf" name = "someoofdf"></mc-scrollbox>
		
			<script>
				// fill scrollbox with buttons
				//$('document').ready(function(){

					for (let i = 0; i < 50; i++) {
						var p = document.createElement("mc-rbutton");
						p.setAttribute("id", i);
						p.setAttribute("name", makeid(Math.floor(Math.random() * 3) + 4));
						p.setAttribute("color" , '#' + Math.floor(Math.random()*16777215).toString(16));
						document.getElementById("someoofdf").shadowRoot.getElementById("box").appendChild(p);
					}

				//});


				
			</script>
		 
		<br><br>
		<div id = 'dropbox' style = 'width: 200px'>
			<mc-dropdown id = 'dropdown69' name ='dropdown69' opt = '["trees","fruit","meat"]'></mc-dropdown>
			<br><br>
			<mc-dropdown id = 'dropdown99'  name ='dropdown99' opt = '["audi","bmw","toyota"]'></mc-dropdown>
			<br><br>
			<mc-slider id = 'nodeSize'></mc-slider>
			<br><br>
			<mc-slider id = 'linkSize'></mc-slider>
			<br><br>
			<mc-slider id = 'trans'></mc-slider>
			<br><br>
			<mc-slider id = 'cutoff'></mc-slider>
			<br><br>
			<mc-colorbox id ="ColorInput">></mc-colorbox>
			<br><br>
			<mc-textbox id ="TextInput">></mc-textbox>
		</div>


	</div>

	</body>
</html>