
<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=
        "width=device-width, initial-scale=1.0">
  
        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">
    
        
            <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script type="text/javascript" charset="utf-8">
                var socket;
                var lastval = 0;
                $(document).ready(function(){
                    console.log('http://' + document.domain + ':' + location.port + '/chat');
                    socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
                    socket.on('connect', function() {
                        socket.emit('join', {});
                    });
                    socket.on('status', function(data) {
                        //$('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                        //$('#chat').scrollTop($('#chat')[0].scrollHeight);
                    });
                    socket.on('ex', function(data) {
                        //$('#chat').val($('#chat').val() + data.msg + '\n');
                        //$('#chat').scrollTop($('#chat')[0].scrollHeight);
                        console.log("server returned: " + data.msg + ' ' + data.par  + ' ' + data.fn );
                        makeButton(data.par, data.msg, data.msg);
                    });
  /*  
                    socket.on('sl1', function(data) {
     
                        console.log(data.msg);
                        $("#slider-1").slider('value', data.msg);
                    });
    
                    $('#send').click(function(e) {
                            text = $('#text').val();
                            $('#text').val('');
                            socket.emit('text', {msg: text});
                            console.log({msg: text});
                    });
    
                    $('#test').click(function(e) {
                            text = 'alarm';
                            socket.emit('test', {msg: text});
                            console.log({msg: text});
                    });
    
                    $("#slider-1").slider({
                        animate: true,
                        range: "max",
                        min: 0,
                        max: 255,
                        value: 128,
                        change: function (event, ui) {
                            if (event.originalEvent) {
    
                                    socket.emit('sl1', {msg: ui.value.toString()});
    
                            };
                        },
                        slide: function (event, ui) {
                            if (event.originalEvent) {
                                var nsize = {"nsize":ui.value};
                                if ((ui.value - lastval) > 10 || (ui.value - lastval) < -10 ){
                                    socket.emit('sl1', {msg: ui.value.toString()});
                                    //console.log(nsize);
                                    lastval = ui.value;
                                };
    
                            };
                        }
    
                    });
                  */
                });
    
  
                function leave_room() {
                    socket.emit('left', {}, function() {
                        socket.disconnect();
                        // go back to the login page
                        window.location.href = "{{ url_for('index') }}";
                    });
                }
            </script>
      
    <title>
        How to scroll to specific 
        item using jQuery?
    </title>
      
    <style>
        div {
            color: #0f9d58;
            border: 3px solid #0f9d58;
            width: 300px;
            height: 300px;
            overflow: auto;
        }
  
        p {
            width: 300px;
            height: 300px;
        }
    </style>
</head>
  
<body>
    <div class="demo" id = scrollbox1 >
        <h1>Heading</h1>
        <p>paragraph</p>
    </div>
    <input type="text" id="text" size="30" placeholder="Enter your message here" />
    <button type="button" id="send" class="btn btn-success">SEND</button><br /><br />
  
    <script>

        function makeButton(parent, id, text) {
            var r = $('<input/>').attr({
                         type: "button",
                         id: id,
                         value: text
                         //onclick: "newButtonClickListener()"
                    });

            $(parent).append(r);
         }


        var container = $('#scrollbox1');
        //var container2 = $('#scrollbox2');
  
        // Setting the value of scrollbar
        $(container).on('scroll', function() {
          //  container2.scrollTop($(container).scrollTop());
          //  container2.scrollLeft($(container).scrollLeft());
        });

        $('#send').click(function(e) {

                        text = $('#text').val();
                        $('#text').val('');
                        //socket.emit('text', {msg: text});
            
                        
                        socket.emit('ex', {msg: text, par: "#scrollbox1", fn: "mkB"});
 
                        //console.log({id: this.id, msg: text});
                });


    </script>
</body>
  
